%strong= @movie.name
- @shows.each do |show|
  .card.margin-10
    .card-body{onclick: "window.location='/shows/#{show.id}'", style: "cursor: pointer;"}
      %strong Start Time
      %p= standard_date_time(show.start_time)
      %strong End Time
      %p= standard_date_time(show.end_time)
