%strong= @movie.name
- @shows.each do |show|
  .card.margin-10
    .card-body{onclick: "window.location='/shows/#{show.id}'", style: "cursor: pointer;"}
      %strong time
      %p= standard_date_time(show.time)
      %strong fare
      %p= show.fare
