%a.btn.btn-primary{href: new_show_path} Add Show
- @shows.each do |show|
  .card.margin-10 
    .card.body 
      %strong= show.movie.name
      %p= "#{standard_date_time(show.start_time)} - #{standard_date_time(show.end_time)}"